<div class="counter" [style.font-size.px]="fontSize"
    [style.line-height.px]="height">
    <ng-wheels [data]="hours"
        [width]="width" color="#d0c300"
        itemBg="http://ou2gp2r4n.bkt.clouddn.com/ngbook/wheels/wheel-bg.jpg"></ng-wheels>:<ng-wheels [data]="minutes"
        [width]="width" color="#d0c300"
        itemBg="http://ou2gp2r4n.bkt.clouddn.com/ngbook/wheels/wheel-bg.jpg"></ng-wheels>:<ng-wheels [data]="seconds"
        [width]="width" color="#d0c300"
        itemBg="http://ou2gp2r4n.bkt.clouddn.com/ngbook/wheels/wheel-bg.jpg"></ng-wheels>
</div>